footer{
   *{
      font-family: 'Lato', sans-serif;
   }   
   .links-de-servico{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
   }

     .links-de-gerenciamento{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0 20px;
       flex-wrap: wrap;
     }
    
    button{
        background-color: #5CA720;
        color: #eee;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 80px;
        max-height: 40px;
     }

     input{
         padding: 10px;
         border: none;
         max-width: 2000px;
         max-height: 40px;
     }
     img{
        width: 40px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
     }
     a{
      color: black;
      text-decoration: none;
     }
     label{
       padding: 10px;
     }

     #imagens{
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
     }
}

